certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
cmake==3.22.4
colorama==0.4.4
dlib @ https://github.com/jloh02/dlib/releases/download/v19.22/dlib-19.22.99-cp310-cp310-win_amd64.whl
face-recognition==1.3.0
face-recognition-models==0.3.0
idna==3.3
jsonify==0.5
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.1.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pytweening==1.0.4
requests==2.27.1
urllib3==1.26.9
