.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marr {
  margin-top: 1rem;
  width: 100rem;
}

.block {
  margin-top: 1rem;
  max-height: 80vh;
  overflow-y: scroll;
  min-height: 80vh;
  /* scroll-behavior: smooth; */
  /* scrollbar-width: 2px; */
  /* margin: 1rem; */
  /* border-bottom: 50em; */
  /* width: 100%; */
  /* border-width: 5px; */
  /* border-color: black; */
  /* border-radius: 5px; */
}

.block2 {
  margin-top: 1rem;
  max-height: 80vh;
  /* overflow: scroll; */
  min-height: 80vh;
}

.block3 {
  margin-top: 1rem;
  max-height: 61.6vh;
  overflow: scroll;
  min-height: 61.6vh;
}

.attendy {
  height: 4rem;
  width: 19rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.profile {
  background-color: #0A0B0D;
  /* background-color: rgb(0, 32, 96); */
  /* #0F1012 */
}

.bg-new1 {
  /* background-color: #ffffff; */
  height: 90vh;
}

.profile {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.profilenav {
  margin-left: auto;
  display: flex;  
  align-items: center;
}

.pname {
  margin-right: 1rem;
  color: white;
}

.profilepic {
  margin-left: auto;
  background-color: #00CFC7;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  font-size: xx-large;
  display: flex;
  align-content: center;
  justify-content: center;
}

.profilepic:hover {
  background-color: rgb(164, 199, 154);
}

.picpic {
  background-color: #00CFC7;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-top: 2rem;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left-mar {
  margin-left: 2rem;
}

.sidenav  {
  background-color: rgb(48, 47, 50);
}

.sidesection {
  background-color: white;
}

.mk {
  /* width: 15%; */
  width: 2000px;
}

.nav, .flex-column, .nav-pills, .me-3 {
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  align-self: center;
}

.full {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  /* margin-top: 1rem; */
  /* flex-direction: row; */
  justify-content: center;
  align-content: center;
}

.refreshbtn {
  margin-left: 1rem;
}

.refresh {
  display: flex;
  /* align-items: baseline; */
  align-content: center;
}

.refreshre {
  display: flex;
  align-items: baseline;
  /* align-content: center; */
}

.result {
  margin-top: auto;
  margin-left: 20px;
}

.sty {
  background-color: #3de9c1
}

.add, .remove {
  margin-left: 25%;
  margin-right: 25%;
  /* min-width: 500px; */
}

.row {
  margin: 1rem;
}

h4 {
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 95px;
  right: 10px;
  padding: 10px 20px;
  background: rgb(255, 255, 255); 
  /* width: 300px; */

  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  box-shadow:0px 0px 10px -1px rgb(0, 207, 199);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu.active {
  visibility: visible;
  opacity: 1;
}

.menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
}

.menu ul li {
  list-style: none;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppname {
  margin-top: 1rem;
  font-weight: bold;
  font-size: x-large;
}

.profhr {
  width: 90%;
}

.btnout {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
  color: red;
  box-shadow: 0px 0px 10px 1px rgb(0,207,199);
}

.btnout:hover {
  color: red;
  box-shadow: 0px 0px 10px 1px rgb(83, 87, 93);
}

.headerpage {
  margin-bottom: 1rem;
}

.Signup {
  display: flex;
  /* justify-content: center; */
}

.Signin {
  display: flex;
  /* justify-content: center; */
}

.signupic {
  width: 100%;
}

.photo {
  display: flex;
  align-self: center;
  width: 50%;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.Signup>.photo, .Signin>.full {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  /* background: #333; */
  padding: 30px;
}

.Signin>.photo, .Signup>.full {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromRight;
  
  /* background: #333; */
  padding: 30px;
}

.btnlog {
  font-size: large;
  color: #00CFC7;
}

.btnlog:hover {
  color: rgb(245, 146, 232);
}

.welcometext {
  color: #00CFC7;
}

.welcometext:hover {
  color: rgb(245,146,232);
}

.btnhigh {
  background-color: #00cfc7;
  border-color: #00CFC7;
  color: white;
}

.btnhigh:hover {
  background-color: rgb(83, 87, 93);
  border-color: rgb(83, 87, 93);
  color: white;
}

.btnlogin {
  width: 100%;
}

.cen {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.empty {
  height: 60vh;
}

.nostud {
  text-align: center;
}

.camfeed {
  background-color: #302F32;
  color: orange;
  border-color: #302F32;
  /* box-shadow: 0px 0px 1px 1px #302F32; */
}

.camfeed:hover {
  background-color: #302F32;
  color: yellow;
  border-color: #302F32;
  /* box-shadow: 0px 0px 1px 1px #302F32; */
}

.nav-link {
  color: #00CFC7;
  background-color: rgb(245, 146, 232);
}

.nav-link:hover {
  color: #01ff40;
}

.btnfeed {
  border: none;
  padding-bottom: 0.5em;
}

.footp {
  /* bottom: 0; */
  height: 10%;
  width: 100%;
  color: #EAE7E8;
}

.valign {
  background-color: #0A0B0D;
  float: left;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-content: center;
}

.valignfo {
  /* align-content: center; */
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.social {
  display: flex;
  height: 100%;
  /* float: right; */
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: 10px;
}

.bisocial {
  margin: 10px;
  align-self: center;
  /* vertical-align: middle; */
}

.bisocial:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.bisocial:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.bisocial:hover {
  color: rgb(0, 207, 199);
  background-color: transparent;
  text-decoration: none;
}

.bisocial:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


/* .btnhigh:active {
  background-color: #00CFC7;
  border-color: #00CFC7;
} */

/*
.Signin::before {
  content: '';
  position: absolute;
  z-index: -1;
  overflow: hidden;
  bottom: -100;
  left: 100; 
  right: 100; 
  background: 00CFC7;
  height: 100rem;
  width: 100rem;
  border-radius: 50%;
}*/
